.container{
	   width:1140px;
	   margin:0 auto;
	   padding-left:15px;
	   padding-right:15px;
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
}
body{
	margin:0;
}


/*----------flex style----------*/
.align-items-center{
	  align-items:center !important;
}
.align-items-start{
	  align-items:flex-start  !important;
}
.align-items-end{
	  align-items:flex-end !important;
}
.align-items-baseline{
	  align-items:baseline !important;
}
.align-items-stretch{
	  align-items:stretch !important;
}

/*-------------header section-----*/
.header{
	 background-color:#131366c9;
     padding-bottom:16px;
}
.logo h2{
	 font-size:20px;
	 font-weight:bold;
	 display:inline-block;
	 color:#fff;
	 text-decoration:none;
	 font-family: "Open Sans", sans-serif;
	 padding-left:45px;
	 padding-top:10px;
	
}
.logo-text li a{
	  display:inline-block;
	  color:#fff;
	  text-decoration:none;
	  padding-right:20px;
	  padding-left:10px;
	  font-size:15px;
      font-weight:600;
	  white-space: nowrap;
	  text-align:center;
	  font-family: "Open Sans", sans-serif;
}
 li a.home{
	color:blue;
}
.logo-text  a{
	   padding:10px 0px;
}
.logo-text ul li{
	display:inline-block;
	list-style:none;
}
.nav-buttons{
	  border:2px solid #3470c6;
	  border-radius:32px;
	  padding:0px 8px 0px 8px;
}
.button{ 
	  padding:10px 15px 10px 15px;
	  text-align:center;
}
.nav-buttons:hover{
	  background-color:blue;
}
/*--------header section--------*/
.banner{
    background-image:url(../images/hero.jpg);
    background-position:right;
    background-repeat:no-repeat;
    background-color:#131366c9;
	background-size:40%;
    justify-content:space-around;
	padding-top:100px;
	height:425px;
}
.banner-content{
        padding-left:35px;
        padding-top:55px;
}
.banner-content h2{
	    font-size:30px;
	    font-family: "Open Sans", sans-serif;
		color:#fff;
}
.banner-content p{
	    font-size:18px;
	    font-family: "Open Sans", sans-serif;
		color:#b3b3bc;
		padding-bottom:100px;
		margin-top:-14px;
}
.button-bg{
	  text-decoration:none;
	  padding:10px 30px;
	  text-align:center;
	  border-radius:28px;
	  background-color:#3470c6;
	  font-size:15px;
	  color:#fff;
	  display:inline-block;
}
.nav-button{
	  margin-top:-84px;
	  margin-left:30px;
}
.button-bg:hover{
	   background-color:blue;
}
.nav-button i{
	  color:#fff;
	  font-size:22px;
	  margin-left:20px;
}
.nav-button i span{
	  padding:0px 10px;
}



/*-------------client section-----*/
.client{
	   background-color:#c6d2e1;
}
.client-logo{
		padding:30px 30px;
		display:flex;
		align-items:center;
		padding-top:25px;
        padding-bottom:10px;
}	
.client-logo img{
	   width:100%;
	   filter:grayscale(300%);
	   opacity:0.5;
}
.client-logo img:hover{
	   filter:grayscale(0%);
	   opacity:1;
} 


/*---------------about section--------------*/	
.about-sec{
	    margin-top:74px;
		margin-bottom:80px;
}
.about-sec h2{
	    font-size:30px;
	    font-family:"Open Sans", sans-serif;
		font-weight:bold;
		color:#37517e;
		text-align:center;
		padding-bottom:20px;
		text-transform:uppercase;
}
.underline{
	    width:50px;
		height:3px;
		background-color:#3470c6;
		margin-bottom:22px;
		margin-left:auto;
		margin-right:auto;
		margin-top:-28px;
}	  
.about-info h4{
	    font-size:18px;
	    font-family:"Open Sans", sans-serif;
		font-weight:400;
		color:#444444;
}
.about-info p{
	    font-size:18px;
		font-weight:400;
	    font-family:"Open Sans", sans-serif;
		color:#444444;
}
.about-info p i{
	    color:#3470c6;
        padding-right:10px;
}
.about-info-1 p{	
		font-size:16px;
		font-weight:400;
	    font-family:"Open Sans", sans-serif;
		color:#444444;
		line-height:1.6;
		padding-top:10px
}
.nav-but-bg{
	    display:inline-block;
	    border:2px solid #47b2e4;
	    border-radius:5px;
		padding:10px 24px;
        margin-top:20px;
}
.nav-but-bg a{
	   color:#47b2e4;
	   text-decoration:none;
	   text-align:center;
	   font-size:16px;
	   font-family:"Open Sans", sans-serif;
	   font-weight:700;
	   transition:all 0.3s ease;
}
.nav-but-bg:hover{
       background-color:#47b2e4
}

	   
/*-------------------business section----------*/
.bus-sec{
	  background-color:#f3f5fa;
}
.bus-info{
	   padding:60px 65px;
}
.bus-info h2{
	  font-size:30px;
	  font-family:"Open Sans", sans-serif;
	  font-weight:400;
	  color:#37517e;
}
.bus-info h2 span{
	  font-size:32px;
	  font-family:"Open Sans", sans-serif;
	  font-weight:700;
	  color:#37517e;
}
.bus-info p{
	  font-size:14px;
	  font-family:"Open Sans", sans-serif;
	  color:#848484;
	  margin-top:-12px;
}
.bus-info h3{
	    position: relative;
		display: block;
		font-size: 18px;
        font-family: "Open Sans", sans-serif;
        color: #343a40;
		background-color: #fff;
		border-radius: 5px;
        padding: 20px 3px;
        line-height: 2;
	    margin-right: -40px;
}
.bus-info h3 i{
	   display: inline-block;
       position: absolute;
	   top:40%;
	   left:92%;
	   font-size: 20px;
       color: #37517e;
  
}
.bus-info h3 span{
	  color:#47b2e4;
	  padding-left: 15px;
}
.bus-info h3 icon{
	 margin-left:20px;
}